.sidebar{
    transition: all .2s ease;
    min-height: 89.5vh;
    overflow: hidden;
}
.sidebar-opened{
    width: 200px;
}
.sidebar-closed{
    width: 60px;
}
.sidebar-closed .MuiListItemText-root{
    display: none;
}